In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\sabri\Documents\GitHub\CD\Projeto 3

In [5]:
#Exemplo: Ab = pd.read_excel("testeab.xlsx")
#Ou ainda:df = pd.read_excel(path + filename)

Fertilidade = pd.read_excel("fertility.xlsx") #Variavel principal

Casamento = pd.read_excel("casamento.xlsx")
Escolaridade = pd.read_excel("escolaridade.xlsx")
Malnutrition = pd.read_excel("malnutrition.xlsx")
Pib = pd.read_excel("pib.xlsx")

### Todas as variáveis estão sendo lidas corretamente

In [6]:
Pib.head() 
Fertilidade.head()
Casamento.head()
Malnutrition.head()
Escolaridade.head()

,Primary school completion (% of girls),1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,4.19285,NaN,NaN,5.14529,5.91965,...,NaN,NaN,NaN,18.74188,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.27718,97.70814,NaN,NaN,NaN,90.41091,89.76010,86.01452,89.53901
4,Algeria,NaN,NaN,30.90031,33.02938,34.32702,39.7942,45.24156,48.22515,50.49138,...,90.09179,91.27633,93.30839,94.21432,NaN,97.35583,109.72854,95.13346,95.87439,94.20928